@{
    ViewBag.Title = "jQuery Todo List";
}

<h2>Todo......</h2>
<div class="float-right">
    <a href="#" id="btnListAll" class="btn btn-info" role="button">All</a>  <a href="#" id="btnListActive" class="btn btn-info" role="button">Active</a>  <a href="#" id="btnListCompleted" class="btn btn-info" role="button">Completed</a>
</div>
<br />
<hr />
<br />
<form method="post" id="FormTodoList">
    <div class="container">
        <div class="form-inline">
            <input class="form-control col-10 mr-1" type="text" id="InputTodoWhat" class="form-control" name="InputTodoWhat" placeholder="Add one thing todo..." value=""><a id="btnAdd" href="#" class="col-1 btn btn-light btn" role="button"> Add </a>
        </div>
    </div>
</form>
<br />
<table class="table" id="tableMain"></table>


@section scripts{
    <link href="~/Content/table-strike.css" rel="stylesheet" />

    <script type="text/javascript">

        $(function () {
            var completed = "";
            getList(completed);
        });

        function getList(completed) {
            var getListAllUrl = "/JQueryTodo/GetList";
            $.ajax({
                url: getListAllUrl,
                data: { "completed": completed },
                type: 'post',
                datatype: 'json',
                success: function (data) {
                    data = JSON.parse(data);
                    $('#tableMain').empty();
                    $('#tableMain').removeClass();
                    $('#tableMain').addClass("table " + completed);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            $('#tableMain').append('<tr id="tr' + item.todoId + '"><td class="btnCheck"><a href="#" class="btn btn-outline-primary btn-sm " role="button" data-check-to-be="' + !item.completed + '"> V </a></td><td> ' + item.todoWhat + ' </td><td><a href="#" class="btn btn-secondary btn-sm btnDelete" role="button"> X </a></td></tr>')
                            if (item.completed) {
                                var mockCheckboxTr = $('#tr' + item.todoId + '');
                                mockCheckboxTr.addClass("strikeout");
                                var mockCheckboxLink = mockCheckboxTr.find("td:first").find('a');
                                mockCheckboxLink.removeClass();
                                mockCheckboxLink.addClass("btn btn-primary btn-sm");
                            }
                        });
                    }
                }
            });
        }

        $("#InputTodoWhat").keydown(function (event) {
            if (event.which == 13) {
                createTask();
                return false;
                //event.preventDefault();
                //event.stopPropagation();
            }
        });

        $("#btnAdd").click(function () {
            createTask();
            return false;
        });

        $("#btnListAll").click(function () {
            getList();
            return false;
        });

        $("#btnListActive").click(function () {
            getList(false);
            return false;
        });

        $("#btnListCompleted").click(function () {
            getList(true);
            return false;
        });

        $(document).on("click", "td[class='btnCheck']", function () {
            let checkId = $(this).closest("tr").attr("id");
            checkId = checkId.replace('tr', '');
            let isActive = $(this).closest("table").attr("class");
            isActive = isActive.replace('table', '');
            let checkToBe = $(this).find("a").data("check-to-be");
            checkTask(checkId, checkToBe, isActive);
            return false;
        });

        $(document).on("click", ".btnDelete", function () {
            let deleteId = $(this).closest("tr").attr("id");
            deleteId = deleteId.replace('tr', '');
            let isActive = $(this).closest("table").attr("class");
            isActive = isActive.replace('table', '');
            deleteTask(deleteId, isActive);
            return false;
        });

        function checkTask(checkId, checkToBe, isActive) {
            var createTaskUrl = "/JQueryTodo/CheckTask";
            $.ajax({
                url: createTaskUrl,
                data: { "todoId": checkId, "doneOrNot": checkToBe },
                type: 'post',
                datatype: 'json',
                success: function (data) {
                    getList(isActive);
                }
            });
        }

        function deleteTask(deleteId, isActive) {
            var createTaskUrl = "/JQueryTodo/DeleteTask";
            $.ajax({
                url: createTaskUrl,
                data: { "todoId": deleteId },
                type: 'post',
                datatype: 'json',
                success: function (data) {
                    getList(isActive);
                }
            });
        }

        function createTask() {
            var taskTodo = $('#InputTodoWhat').val();
            var createTaskUrl = "/JQueryTodo/CreateTask";
            $.ajax({
                url: createTaskUrl,
                data: { "taskTodo": taskTodo },
                type: 'post',
                datatype: 'json',
                success: function (data) {
                    $('#InputTodoWhat').val('');
                    getList();
                }
            });
        }

    </script>

}
